* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    cursor: url("images/kanye_cursor.png"), auto;
    
}

.background{
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(135deg, rgb(45, 28, 139), #a828c9); 
    align-items: center;
}
.title-container {
    
    font-size: 24px;
    text-align: center;
    margin-top: 20px; 
}

.inputsection {    
    display: grid;
    grid-template-columns: 60% 15%;
    justify-content: center;
    /* column-gap: 5px; */
}

.textarea {
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px 0 0 10px;
    font-size: 15px;
    padding: 10px;
}

.submitbutton {
    border-radius: 0 10px 10px 0;
    min-width: 100%;
    max-width: 100%;

}

/* removes orange outline when typing in input*/
.textarea:focus {
    outline: none;
}

/* fixes button click bug */
button > i {
    pointer-events: none;
}

.buttoninput {
    /* border-radius: 10px; */
    font-size: 20px
}

.container {

    width: 100%;
    min-height: 10vh;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
}

.todolist {
    
    /* background-color: white; */
    padding: 10px;
    margin: auto;
    width: 50%;
    border-radius: 10px 0 0 10px;
}

.newItem {
    display: grid;
    grid-template-columns: 60% 10% 10%;
    justify-content: center;
    
    padding: 10px 10px;
}

.itemcontent {
    border-radius: 10px 0 0 10px;
    word-wrap: break-word;
    background-color: white;
    min-height: 50px;
    padding: 15px;
}

.check-button, .trash-button {
    border: none;
    background-color: white;
}

.check-button {
    font-size: 15px;
}

.trash-button {
    font-size: 12px;
    border-radius: 0 10px 10px 0;
}

.checked{
    color: #000000;
    text-decoration: line-through;
}

/* Use this class to update png after item is checked off.
   requires that there is another container that has the unchecked png.

.checked::before{
    background-image: url(images/checked.png);
} */

.check-button:hover, .trash-button:hover, .buttoninput:hover{
    background-color: grey;
}

.kanye {
    width: 50%;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.fortnite {
    width: 50%;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}