* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

.background{
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(135deg, rgb(45, 28, 139), #a828c9);
    align-items: center;
}
.title-container {
    
    font-size: 24px;
    text-align: center;
    margin-top: 20px; 
}

.inputcol {
    /*
    
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;

    */

    border: none;
    outline: none;
    
    display: flex;
    justify-content: center;
    margin-top: 20px;  
}



.textarea {
    width: 80%; 
    margin-right: 10px;
}

button > i {
    pointer-events: none;
}

.buttoninput {
    width: 20%;
}

.container {

    width: 100%;
    min-height: 10vh;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
}

.todolist {
    
    
    flex-direction: column;
    word-wrap: break-word;
    background-color: white;
    color:black;
    padding: 10px;
    margin: auto;
    width: 50%;
    
}

.check-button{
    width: 30px;
    height: 30px;
}

.trash-button{
    align-items: right;
    width: 30px;
    height: 30px;
}

.checked{
    color: #000000;
    text-decoration: line-through;
}

/* Use this class to update png after item is checked off.
   requires that there is another container that has the unchecked png.

.checked::before{
    background-image: url(images/checked.png);
} */

.check-button:hover {
    background-color: grey;
}

.trash-button:hover {
    background-color: grey;
}

.buttoninput:hover {
    background-color: grey;
}

.kanye {
    width: 50%;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.fortnite {
    width: 50%;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.newItem.dragging {
    opacity: 0.5; /* Add your preferred styling for the dragged item */
}

.newItem:not(:empty) {
    border: 1px solid black; /* 1px width, solid style, black color */
}

.dark-mode{
    background: #333;
    color: #fff;
}