<!-- Cursor Parking Lot -->
<!--                    -->
<!--                    -->
<!------------------------>


<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>To-Do List Web App</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="title-container">
            <h1> To Do List </h1>
        </div>
        <div class="container">
            <div class="input">
                <textarea placeholder="Type your entry"></textarea>
                <button type="button" class=""> Submit </button> <!-- For adding -->
            </div>
        </div>
    <div class="container">
        <div class="todo-app"></div>

            <h1>hello</h1>
    </div>
    </body>
</html>