*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', san-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, rgb(45, 28, 139), #a828c9);
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px;
    border-radius: 10px;
}